- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/tagit.css', :type => 'text/css', :media => 'all'}
  %link{:rel => 'stylesheet', :href => '/stylesheets/edit.css', :type => 'text/css', :media => 'all'}
  %script{ :src => "/javascripts/tag-it.js", :type => "text/javascript" }
  %script{ :src => "/javascripts/edit.js", :type => "text/javascript" }
  

%h1 Editando: #{@user.username}

%form{ :method => 'post', :action => 'edit' }
  %fieldset
    %legend General
    %p.title
      %input{ :type => "text", :id => "title", :name => "details[title]", :value => @details.title }/
      %label{ :for => "title" } Title
    %p.summary
      %input{ :type => "text", :id => "summary", :name => "details[summary]", :value => @details.summary }/
      %label{ :for => "summary" } Summary
    %p.street
      %input{ :type => "text", :id => "address", :name => "details[address]", :value => @details.address }/
      %label{ :for => "address" } Address
  %fieldset
    %legend Contact
    %p.phone
      %input{ :type => "text", :id => "phone", :name => "details[tel]", :value => @details.tel }/
      %label{ :for => "phone" } Phone
    %p.url
      %input{ :type => "text", :id => "url", :name => "details[url]", :value => @details.url }/
      %label{ :for => "url" } Web site

  %fieldset
    %legend Skills
    %p.skills
      %ul#skills

  - if not @user.experiences.empty?
    - @user.experiences.each_with_index do |exp, i|
      %fieldset
        Experience - Company 
        = i + 1
        %p.title
          %input{ :type => "hidden", :name => "experience#{i + 1}[id]", :value => exp.id}/
          %input{ :type => "text", :id => "title#{i + 1}", :name => "experience#{i + 1}[title]", :value => exp.title}/
          %label{ :for => "title1" } Title
        %p.company
          %input.companies{ :type => "text", :id => "company#{i + 1}", :name => "company#{i + 1}[name]", :value => exp.company.name}/
          %label{ :for => "company#{i + 1}" } Company
        %p.summary
          %input{ :type => "text", :id => "summary#{i + 1}", :name => "experience#{i + 1}[summary]", :value => exp.summary}/
          %label{ :for => "summary#{i + 1}" } Summary
        %p.startDate
          %input.date{ :type => "text", :id => "expStartDate#{i + 1}", :name => "experience#{i + 1}[start_date]", :value => exp.start_date.strftime("%m/%d/%Y")}/
          %label{ :for => "expStartDate#{i + 1}" } Start Date
        %p.hasEnded
          %input.date{ :type => "text", :id => "expEndDate#{i + 1}", :name => "experience#{i + 1}[end_date]", :value => exp.end_date.strftime("%m/%d/%Y")}/
          %label{ :for => "expEndDate#{i + 1}" } End Date (if ended)
        - if @user.experiences.count == i + 1
          %p#addJob.submit
            %input{ :type => 'button', :value => 'Add job' }
  - else
    %fieldset#firstexp
      %legend Experience - Company 1
      %p.title
        %input{ :type => "text", :id => "title1", :name => "experience1[title]"}/
        %label{ :for => "title1" } Title
      %p.company
        %input.companies{ :type => "text", :id => "company1", :name => "company1[name]"}/
        %label{ :for => "company1" } Company
      %p.summary
        %input{ :type => "text", :id => "summary1", :name => "experience1[summary]"}/
        %label{ :for => "summary1" } Summary
      %p.startDate
        %input.date{ :type => "text", :id => "expStartDate1", :name => "experience1[start_date]"}/
        %label{ :for => "expStartDate1" } Start Date
      %p.hasEnded
        %input.date{ :type => "text", :id => "expEndDate1", :name => "experience1[end_date]"}/
        %label{ :for => "expEndDate1" } End Date (if ended)
      %p#addJob.submit
        %input{ :type => 'button', :value => 'Add job' }

  - if not @user.educations.empty?
    - @user.educations.each_with_index do |edu, i|
      %fieldset
        Education - School
        = i + 1
        %p.title
          %input{ :type => "hidden", :name => "education#{i + 1}[id]", :value => edu.id}/
          %input{ :type => "text", :id => "degree#{i + 1}", :name => "education#{i + 1}[summary]", :value => edu.summary}/
          %label{ :for => "degree#{i + 1}" } Degree
        %p.company
          %input{ :type => "text", :id => "location#{i + 1}", :name => "education#{i + 1}[location]", :value => edu.location}/
          %label{ :for => "location#{i + 1}" } School
        %p.startDate
          %input.date{ :type => "text", :id => "edStartDate#{i + 1}", :name => "education#{i + 1}
          %label{ :for => "edStartDate#{i + 1}" } Start Date
        %p.hasEnded
          %input.date{ :type => "text", :id => "edEndDate#{i + 1}", :name => "education#{i + 1}[end_date]", :value => edu.end_date.strftime("%m/%d/%Y")}/
          %label{ :for => "edStartDate#{i + 1}" } End Date (if has already ended)
        - if @user.educations.count == i + 1
          %p#addSchool.submit
            %input{ :type => 'button', :value => 'Add school' }
  -else 
    %fieldset
      %legend Education - School 1
      %p.title
        %input{ :type => "text", :id => "degree1", :name => "education1[summary]"}/
        %label{ :for => "degree1" } Degree
      %p.company
        %input{ :type => "text", :id => "location1", :name => "education1[location]"}/
        %label{ :for => "location1" } School
      %p.startDate
        %input.date{ :type => "text", :id => "edStartDate1", :name => "education1[start_date]"}/
        %label{ :for => "edStartDate1" } Start Date
      %p.hasEnded
        %input.date{ :type => "text", :id => "edEndDate1", :name => "education1[end_date]"}/
        %label{ :for => "edStartDate1" } End Date (if has already ended)
      %p#addSchool.submit
        %input{ :type => 'button', :value => 'Add school' }

  - if not @user.publications.empty?
    - @user.publications.each_with_index do |pub, i|
      %fieldset
        Publication
        = i + 1
        %p.title
          %input{ :type => "hidden", :name => "publication#{i + 1}[id]", :value => pub.id}/
          %input{ :type => "text", :id => "pubTitle#{i + 1}", :name => "publication#{i + 1}[name]", :value => pub.name}/
          %label{ :for => "pubTitle#{i + 1}" } Title
        %p.link
          %input{ :type => "text", :id => "pubLink#{i + 1}", :name => "publication#{i + 1}[url]", :value => pub.url}/
          %label{ :for => "pubLink#{i + 1}" } Link
        - if @user.publications.count == i + 1
          %p#addPublication.submit
            %input{ :type => 'button', :value => 'Add publication' }
  - else 
    %fieldset
      %legend Publication 1
      %p.title
        %input{ :type => "text", :id => "pubTitle1", :name => "publication1[name]"}/
        %label{ :for => "pubTitle1" } Title
      %p.link
        %input{ :type => "text", :id => "pubLink1", :name => "publication1[url]"}/
        %label{ :for => "pubLink1" } Link
      %p#addPublication.submit
        %input{ :type => 'button', :value => 'Add publication' }

  - if not @user.affiliations.empty?
    - @user.affiliations.each_with_index do |a, i|
      %fieldset
        Affiliation
        = i + 1
        %p.title
          %input{ :type => "hidden", :name => "affiliation#{i + 1}[id]", :value => a.id}/
          %input{ :type => "text", :id => "affTitle#{i + 1}", :name => "affiliation#{i + 1}[name]", :value => a.name}/
          %label{ :for => "affTitle#{i + 1}" } Title
        - if @user.affiliations.count == i + 1
          %p#addAffiliation.submit
            %input{ :type => 'button', :value => 'Add affiliation' }
  - else
    %fieldset
      %legend Affiliation 1
      %p.title
        %input{ :type => "text", :id => "affTitle1", :name => "affiliation1[name]"}/
        %label{ :for => "affTitle1" } Title
      %p#addAffiliation.submit
        %input{ :type => 'button', :value => 'Add affiliation' }

  %fieldset
    %legend Save data
    %p.submit
      %input{ :type => 'hidden', :value => (@user.experiences.count != 0? @user.experiences.count : 1), :name => "jobs", :id => "numJobs" }
      %input{ :type => 'hidden', :value => (@user.educations.count != 0? @user.educations.count : 1), :name => "schools", :id => "numSchools" }
      %input{ :type => 'hidden', :value => (@user.affiliations.count != 0? @user.affiliations.count : 1), :name => "affiliations", :id => "numAffiliations" }
      %input{ :type => 'hidden', :value => (@user.publications.count != 0? @user.publications.count : 1), :name => "publications", :id => "numPublications" }
      %input{ :type => 'submit', :value => 'Save changes' }
      :plain
        <script type="in/login" data-onAuth="loadData">
        Hi, <?js= firstName ?> <?js= lastName ?>.
        </script>

%div#hidden
  %fieldset#school
    %legend Education - School 1
    %p.title
      %input{ :type => "text", :id => "degree1", :name => "education1[summary]", :value => "#summary#"}/
      %label{ :for => "degree1" } Degree
    %p.company
      %input{ :type => "text", :id => "location1", :name => "education1[location]", :value => "#location#"}/
      %label{ :for => "location1" } School
    %p.startDate
      %input.date{ :type => "text", :id => "edStartDate1", :name => "education1[start_date]", :value => "#startDate#"}/
      %label{ :for => "edStartDate1" } Start Date
    %p.hasEnded
      %input.date{ :type => "text", :id => "edEndDate1", :name => "education1[end_date]", :value => "#endDate#"}/
      %label{ :for => "edStartDate1" } End Date (if has already ended)
    %p#addSchool.submit
      %input{ :type => 'button', :value => 'Add school' }

  %fieldset#publication
    %legend Publication 1
    %p.title
      %input{ :type => "text", :id => "pubTitle1", :name => "publication1[name]", :value => "#name#"}/
      %label{ :for => "pubTitle1" } Title
    %p.link
      %input{ :type => "text", :id => "pubLink1", :name => "publication1[url]", :value => "#url#"}/
      %label{ :for => "pubLink1" } Link
    %p#addPublication.submit
      %input{ :type => 'button', :value => 'Add publication' }
  %fieldset#affiliation
    %legend Affiliation 1
    %p.title
      %input{ :type => "text", :id => "affTitle1", :name => "affiliation1[name]"}/
      %label{ :for => "affTitle1" } Title
    %p#addAffiliation.submit
      %input{ :type => 'button', :value => 'Add affiliation' }
  %fieldset#experience
    %legend Experience - Company 1
    %p.title
      %input{ :type => "text", :id => "title1", :name => "experience1[title]", :value => "#title#"}/
      %label{ :for => "title1" } Title
    %p.company
      %input.companies{ :type => "text", :id => "company1", :name => "company1[name]", :value => "#company#"}/
      %label{ :for => "company1" } Company
    %p.summary
      %input{ :type => "text", :id => "summary1", :name => "experience1[summary]", :value => "#summary#"}/
      %label{ :for => "summary1" } Summary
    %p.startDate
      %input.date{ :type => "text", :id => "expStartDate1", :name => "experience1[start_date]", :value => "#startDate#"}/
      %label{ :for => "expStartDate1" } Start Date
    %p.hasEnded
      %input.date{ :type => "text", :id => "expEndDate1", :name => "experience1[end_date]", :value => "#endDate#"}/
      %label{ :for => "expEndDate1" } End Date (if ended)
    %p#addJob.submit
      %input{ :type => 'button', :value => 'Add job' }
