- if (typeof(skill) != 'undefined')
  h1 Personas que saben usar #{skill}
- else
  h1 Personas que han trabajado en #{company}

.clear

- each user in users
  h3
    img(src='http://www.gravatar.com/avatar/' + md5(user.email) + '?s=20')
    a(href='/' + user.slug) #{user.name} #{user.lastNames}
    | , que es un #{user.title} feliz
  hr

