#text
  img(src="/img/aboutme.png", alt="Resume", title="Resume")
#stripe

- if(person.filled)
  - if(request.loggedIn && needsServices.length > 0)
    h1
      strong Agregar perfil de servicios
    p
    - each neededService in needsServices
      a(href="/auth/" + neededService)
        img(src="/img/" + neededService + "-logo.png",style="width:64px")

    .clearfix

  #content-left
    .section
      .clearfix
        h2 Detalles personales

      .item(style="text-align: center")
        div
          -var gravatarUrl = "http://www.gravatar.com/avatar/" + gravatar + "?s=300"
          img(src=gravatarUrl, alt=person.slug, title="Tu gravatar")

        ul#personal-details
          li
            span #{person.name} #{person.lastNames}
      

    .section(style='padding-top: 50px')
      .clearfix
        h2 Experiencia laboral

      - each job in person.jobs
        .item
          h3= job.title
          h4
            a(href='/companies/' + md5(job.company))= job.company
          .date #{job.start.getFullYear()} -
            - if(job.end)
              | #{job.end.getFullYear()}
            - else
              | presente
          .description
            p.margin= job.title
            p= job.summary


  #content-right
    .section
      .clearfix
        h2 About me
        .clear

        h3= person.title

        br

        p= person.summary

        br

    .section
      - if(skills.length > 0 && !request.loggedIn)
        .clearfix
          h2 Skills


      - if(request.loggedIn)
        - if(!request.session.github)
          | Si quieres refrescar tus skills, tienes que acceder con
          a.button(href="/auth/github") github
        - else
          | Para refrescar tus propios skills da click
          a.button(href='/edit/skills') aquí

      .item
        - each skill in skills
          h3
            a(href='/skills/' + skill.id)= skill.name
          ul.stars.clearfix
            - each star in skill.stars
              -var starUrl = '/img/star-' + star + '.png'
              li
                img(src=starUrl)

    - if(person.educations.length > 0)
      .section(style='padding-top: 50px')
        .clearfix
          h2 Educación

      - each education in person.educations
        .item
          h3= education.title
          h4
            a(href='/schools/' + md5(education.school))= education.school
          .date #{education.start.getFullYear()} -
            - if(education.end)
              | #{education.end.getFullYear()}
            - else
              | presente
          .description
            p.margin= education.title
            p= education.summary

    - if(person.publications.length > 0)
      .section(style='padding-top: 50px')
        .clearfix
          h2 Publicaciones
        - each publication in person.publications
          h3
            a(href=publication.url)= publication.title

    - if(person.affiliations.length > 0)
      .section(style='padding-top: 50px')
        .clearfix
          h2 Afiliaciones
        - each affiliation in person.affiliations
          h3= affiliation
  .clear

- else
  h1 #{person.slug} llegará muy pronto a SG Talento
