- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/tagit.css', :type => 'text/css', :media => 'all'}
  %link{:rel => 'stylesheet', :href => '/stylesheets/profile.css', :type => 'text/css', :media => 'all'}


%div{ :class => "avatar" }
  %img{ :src => "http://www.gravatar.com/avatar/#{@digest}?s=200", :alt => "Avatar"  }/
  - if @logged_in
    %div
      %a{ :title => 'Aqui', :href => "/users/edit" } Editar datos
%h1= @user.username
%h2= @user.details.title

%div= @user.details.summary

%hr
%h3 Skills
%ul.tagit
  - @user.skills.each do |skill|
    %li.tagit-choice
      %a{ :href => "#", :style => "text-decoration: none; color: #00E;" }= skill.name

- if @user.experiences.count > 0
  %hr
  %h3 Job Data
  - @user.experiences.each do |exp|
    %div
      %p
        %strong= exp.title
        at
        %strong= exp.company.name
      %p
        From
        %strong= exp.start_date
        -if exp.end_date
          to
          %strong= exp.end_date
      %p= exp.summary

- if @user.educations.count > 0
  %hr
  %h3 School Data
  - @user.educations.each do |edu|
    %div
      %p
        %strong= edu.summary
        at
        %strong= edu.location
      %p
        From
        %strong= edu.start_date
        -if edu.end_date
          to
          %strong= edu.end_date

- if @user.publications.count > 0
  %hr
  %h3 Publications
  - @user.publications.each do |pub|
    %p
      %a{ :href => pub.url }
        = pub.name

- if @user.affiliations.count > 0
  %hr
  %h3 Affiliations
  - @user.affiliations.each do |aff|
    %p
      = aff.name


