#text
  img(src="/img/aboutme.png", alt="Resume", title="Resume")
#stripe

- if(person.filled)
  #content-left
    .section
      .clearfix
        h2 Detalles personales

      .item(style="text-align: center")
        div
          -var gravatarUrl = "http://www.gravatar.com/avatar/" + gravatar + "?s=300"
          img(src=gravatarUrl, alt=person.slug, title="Tu gravatar")

        ul#personal-details
          li
            span #{person.name} #{person.lastNames}
      

    .section(style='padding-top: 50px')
      .clearfix
        h2 Experiencia laboral

      - each job in person.jobs
        .item
          h3= job.title
          h4= job.company
          .date #{job.start.getFullYear()} -
            - if(job.end)
              | #{job.end.getFullYear()}
            - else
              | presente
          .description
            p.margin= job.title
            p= job.summary


  #content-right
    .section
      .clearfix
        h2 Skills


      - if(request.loggedIn)
        - if(!request.session.github)
          | Si quieres refrescar tus skills, tienes que acceder con
          a.button(href="/auth/github") github
        - else
          | Para refrescar tus propios skills da click
          a.button(href='/edit/skills') aquí

      .item
        - each skill in skills
          h3= skill.name
          ul.stars.clearfix
            - each star in skill.stars
              -var starUrl = '/img/star-' + star + '.png'
              li
                img(src=starUrl)

    .section(style='padding-top: 50px')
      .clearfix
        h2 Educación

      - each education in person.educations
        .item
          h3= education.title
          h4= education.school
          .date #{education.start.getFullYear()} -
            - if(education.end)
              | #{education.end.getFullYear()}
            - else
              | presente
          .description
            p.margin= education.title
            p= education.summary

  .clear

- else
  h1 #{person.slug} llegará muy pronto a Carreras SG
