-if @company
  %h1
    People working at
    = @company.name
-else
  %h1
    People skilled in
    = @skill.name

-@users.each do |user|
  %div
    %img{ :src => "http://www.gravatar.com/avatar/#{user.digest}?s=20", :alt => "Avatar"  }/
    %strong
      %a{ :href => "/#{user.username}" }= user.username
    -if user.details
      is a happy
      = user.details.title
  %hr

