<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sgcarrera</title>
  <%= stylesheet_link_tag 'frame/screen.css', :media => 'screen,projection' %>
  <%= stylesheet_link_tag 'frame/print.css', :media => 'print' %>
  <%= stylesheet_link_tag 'theme.css', :media => 'screen,projection' %>

  <%= stylesheet_link_tag 'grey.css' %>

  <!--[if IE]><%= stylesheet_link_tag 'frame/ie.css', :media => 'screen,projection' %><![endif]-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>


  <%= csrf_meta_tag %>
</head>

<body>

<div id="header">
	<ul>
        	<li class="selected"><a href="#">Dashboard</a> &sdot;</li>
            <li><a href="#">Content</a> &sdot;</li>
            <li><a href="#">Reports</a> &sdot;</li>
            <li><a href="#">Users</a> &sdot;</li>
            <li><a href="#">Media Library</a> &sdot;</li>
            <li><a href="#">Events</a> &sdot;</li>
            <li><a href="#">Newsletter</a> &sdot;</li>
            <li><a href="#">Settings</a></li>
    </ul>
    
	<h3>Site Name <a href="#">View Site</a></h3>
</div><!-- header -->
<div id="main">
	<div class="container_12">
    	<div id="info">
        	<ul>
            	<li><a href="#">inbox</a></li>
                <li><a href="#">profile</a></li>
                <li class="lastlink"><a href="#">logout</a></li>
            </ul>
        	Welcome back <strong><em><a href="#">Username</a></em></strong>
        </div><!-- info -->
        
        <div id="nav">
        	<ul>
            	<li class="firstnav"><a href="#"><%= image_tag 'box.png'%><span>button name</span></a></li>
                <li><a href="#"><%= image_tag 'photo.png'%><span>button name</span></a></li>
                <li><a href="#"><%= image_tag 'calender.png'%><span>button name</span></a></li>
                <li><a href="#"><%= image_tag 'comment.png'%><span>button name</span></a></li>
                <li><a href="#"><%= image_tag 'lock.png'%><span>button name</span></a></li>
                <li class="lastnav"><a href="#"><%= image_tag 'settings.png'%><span>button name</span></a></li>                
            </ul>
        </div><!-- nav -->
        
        <div id="left">
        	<div class="sidebarbox">
            	<div class="sidebarheader">
                	<a href="#">Navigation</a>
                </div><!-- sidebarheader --> 
                <div class="sidebarcontent">
                	<ul>
                    	<li><a href="#">Dashboard</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Media Library</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div><!-- sidebarbox -->
            
            <div class="sidebarbox">
            	<div class="sidebarheader">
                	<a href="#">Actions</a>
                </div><!-- sidebarheader --> 
                <div class="sidebarcontent">
                	<ul>
                    	<li><a href="#">Dashboard</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Media Library</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div><!-- sidebarbox -->
            
            <div class="sidebarbox">
            	<div class="sidebarheader">
                	<a href="#">Submenu</a>
                </div><!-- sidebarheader --> 
                <div class="sidebarcontent">
                	<ul>
                    	<li><a href="#">Dashboard</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Media Library</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div><!-- sidebarbox -->
        </div><!-- left -->
        
        <div id="mid">
		<%= yield %>	
        </div><!-- mid -->
        
        <div id="right">
        
        	<h3>Notices</h3>
        
        	<div class="notice">Here's small alert.</div>
            <div class="error">Here's an error message.</div>
            <div class="success">Settings saved.</div>
        
        	<h3 style="margin-top:40px;">Twitter Feed</h3>
            
            <div class="twit">
            
            	<p>The latest Twitts from people you know</p>
                <p>The latest Twitts from people people you knowpeople you know  people you know,people you know <a href="#">gmail@dejan</apeople you know people you know></a></p>
            
            	<p><%= image_tag 'twit.png' %><a href="#"><strong>25 minutes ago</strong></a></p>
            
            </div><!-- twit -->
            
            <div class="twit">
            
            	<p>The latest Twitts from people you know</p>
                <p>The latest Twitts from people you know,people you know <a href="#">gmail@dejan</apeople you know people you know></a></p>
            
            	<p><%= image_tag 'twit.png' %><a href="#"><strong>25 minutes ago</strong></a></p>
            
            </div><!-- twit -->
            
               <div class="twit">
            
            	<p>The latest Twitts from people you know</p>
                <p>The latest Twitts from people you know,people you know <a href="#">gmail@dejan</apeople you know people you know></a></p>
            
            	<p><%= image_tag 'twit.png' %><a href="#"><strong>25 minutes ago</strong></a></p>
            
            </div><!-- twit -->
            
               <div class="twit">
            
            	<p>The latest Twitts from people you know</p>
                <p>The latest Twitts from people you know,people you know <a href="#">gmail@dejan</apeople you know people you know></a></p>
            
            	<p><%= image_tag 'twit.png' %><a href="#"><strong>25 minutes ago</strong></a></p>
            
            </div><!-- twit -->
            
            
            
        </div><!-- right -->
        
    <div style="clear:both;" ></div>
    </div><!-- 12 -->
</div><!-- main -->

<div id="footer">
	<div class="container_12">
	    <a href="http://www.guitemplates.com"><%= image_tag 'guitemplates.png' %></a>
		Some copyright details down here.
    </div><!-- 12 -->
</div><!-- footer -->
</body>

</html>
